Flask==3.0.3
Flask-Cors==4.0.1
Flask-SQLAlchemy==3.1.1
Pillow==10.4.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
supabase==2.6.0
gotrue==2.9.1
postgrest==0.16.8
openpyxl==3.1.5
werkzeug==3.0.3
requests==2.32.3
gunicorn==22.0.0
